.Dropdown {
    position: relative;
    display: inline-block;
  }
  
  .Dropdown button {
    background-color: #4CAF50; /* Зеленый */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .Dropdown button:hover {
    background-color: #3e8e41;
  }
  
  .Dropdown__menu {
    display: none; /* Скрыто по умолчанию */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .Dropdown__menu div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .Dropdown__menu div:hover {
    background-color: #f1f1f1;
  }
  
  /* Показывать меню при наведении */
  .Dropdown__menu {
    display: block;
  } 